Source: omnibook
Section: misc
Priority: optional
Maintainer: Julien Valroff <julien@debian.org>
Build-Depends: debhelper (>> 7.0.0)
Build-Depends-Indep: bzip2
Standards-Version: 3.9.1
Homepage: http://omnibook.sf.net
Vcs-Git: git://omnibook.git.sourceforge.net/gitroot/omnibook/omnibook
Vcs-Browser: http://omnibook.git.sourceforge.net/

Package: omnibook-source
Architecture: all
Depends: debhelper (>= 7.0.0), make, module-assistant, kernel-package, bzip2
Description: Source for the omnibook driver
 This package contains the loadable kernel modules for the HP OmniBooks,
 Pavilions, Toshiba Satellites and some other laptops manufactured by
 Compal Electronics, Inc as ODM.
 .
 This module is only compatible with Linux kernels >= 2.6.9
 .
 Kernel source is required to compile this module.
