Source: omnibook
Section: misc
Priority: optional
Maintainer: Mathieu Bérard <math_b@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.7.2

Package: omnibook-source
Architecture: all
Depends: build-essential, debhelper, module-assistant, kernel-package 
Description: Source for the omnibook driver
 This package provides the source code for the omnibook kernel module.
 Kernel source is required to compile this module.
